NAME="Elemental Teal"
ID="elemental"
ID_LIKE="suse sles"
BUG_REPORT_URL="https://github.com/rancher/elemental/issues"
HOME_URL="https://github.com/rancher/elemental"

VERSION="${VERSION}"
VERSION_ID="${VERSION_ID}"
PRETTY_NAME="${PRETTY_NAME}"
