/.dapper
/.env
/.cache
/bin
/dist
/build
*.swp
.idea
/tests/build
/tests/build-box
/tests/cypress/*/cypress/videos/*
/tests/cypress/*/cypress/screenshot/*
/tests/cypress/*/cypress/download/*
/tests/cypress/*/node_modules
*package-lock.json
