/.dapper
/.env
/.cache
/bin
/dist
/build
*.swp
.idea
/tests/build
/tests/build-box
/tests/cypress/videos/*
/tests/cypress/screenshots/*
/tests/cypress/downloads/*
/tests/node_modules
/tests/package-lock.json
