[Unit]
Description=Elemental System Agent
Documentation=https://github.com/rancher/system-agent
Wants=network-online.target
After=network-online.target
After=time-sync.target
ConditionPathExists=!/run/cos/live_mode
ConditionPathExists=!/etc/systemd/system/rancher-system-agent.service

[Service]
EnvironmentFile=-/etc/default/rancher-system-agent
EnvironmentFile=-/etc/sysconfig/rancher-system-agent
EnvironmentFile=-/etc/systemd/system/rancher-system-agent.env
Type=simple
Restart=always
RestartSec=5s
StandardOutput=journal+console
StandardError=journal+console
Environment="CATTLE_AGENT_CONFIG=/etc/rancher/elemental/agent/config.yaml"
Environment="CATTLE_LOGLEVEL=info"
ExecStart=/usr/sbin/elemental-system-agent sentinel
