[Unit]
Description=Run elemental-register every 30 minutes
Documentation=https://elemental.docs.rancher.com
# Do not run the timer for installation media or recovery system
ConditionPathExists=!/run/elemental/live_mode
ConditionPathExists=!/run/elemental/recovery_mode

[Timer]
OnStartupSec=5
# Keep the schedule lower than the service's StartLimitIntervalSec
OnUnitInactiveSec=30min
Persistent=true
# Stagger multiple machines booting at the same time
RandomizedDelaySec=30
FixedRandomDelay=true

[Install]
WantedBy=timers.target
