[Unit]
Description=Elemental Populate Node Labels
Documentation=https://github.com/rancher-sandbox/os2
Before=network-online.target

[Install]
WantedBy=multi-user.target

[Service]
Type=oneshot
EnvironmentFile=-/etc/default/%N
EnvironmentFile=-/etc/sysconfig/%N
ExecStart=/usr/sbin/elemental-populate-node-labels
