[Unit]
Description=Elemental Operator Registration
Documentation=https://github.com/rancher/elemental-operator
Wants=network-online.target
After=network-online.target
ConditionPathExists=/run/cos/live_mode

[Install]
WantedBy=multi-user.target

[Service]
Type=oneshot
EnvironmentFile=-/etc/default/%N
EnvironmentFile=-/etc/sysconfig/%N
TimeoutStartSec=0
StandardOutput=journal+console
StandardError=journal+console
ExecStart=/usr/sbin/elemental-operator register /oem