[Unit]
Description=Elemental System Agent
Documentation=https://github.com/rancher/system-agent
Wants=network-online.target
After=network-online.target
After=time-sync.target
ConditionPathExists=!/run/elemental/live_mode

[Service]
EnvironmentFile=-/etc/rancher/elemental/agent/envs
EnvironmentFile=-/etc/default/elemental
EnvironmentFile=-/etc/sysconfig/proxy
Type=simple
Restart=always
RestartSec=5s
StandardOutput=journal+console
StandardError=journal+console
Environment="CATTLE_AGENT_CONFIG=/etc/rancher/elemental/agent/config.yaml"
Environment="CATTLE_LOGLEVEL=info"
ExecStart=/usr/sbin/elemental-system-agent sentinel
