[Unit]
Description=Rancher System Agent
Documentation=https://github.com/rancher/system-agent
Wants=network-online.target
After=network-online.target
ConditionPathExists=!/run/cos/live_mode
ConditionPathExists=!/opt/rancher-system-agent

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
Restart=always
RestartSec=5s
StandardOutput=journal+console
StandardError=journal+console
Environment="CATTLE_AGENT_CONFIG=/etc/rancher/agent/config.yaml"
ExecStart=/usr/sbin/rancher-system-agent sentinel
