[Unit]
Description=Kill containerd-shims on shutdown
DefaultDependencies=no
ConditionPathExists=/usr/local/bin/k3s-killall.sh
Before=shutdown.target umount.target

[Service]
ExecStart=/usr/local/bin/k3s-killall.sh
Type=oneshot

[Install]
WantedBy=shutdown.target
WantedBy=umount.target
