[Unit]
Description=cOS system immutable rootfs mounts
DefaultDependencies=no
After=initrd-root-fs.target cos-setup-rootfs.service
Requires=initrd-root-fs.target
Before=initrd-fs.target
Conflicts=initrd-switch-root.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=-/usr/bin/systemctl stop oem.mount
ExecStart=/sbin/cos-mount-layout
